{% extends "index.html" %}
{% block content %}
    <div class="jumbotron">
        <h1 style="text-align:center">Information about our Company Blog</h1>
        <div>
        <p>This is a website made in Flask (Python).Any user can make blogs on this website. There are many functionalities available for user.
            LIKE :
            1. Register
            2. Login
            3. Create Post
            4. Update/Delete Post
            5. Update Profile
            6. Logout
        </p>
        </div>
    </div>
{% endblock %}